{{> header}}
{{> loader}}
<div id="viewport">
<main id="scroll-container">
  {{> banner}}
  
    <section class="home-section about_sec" id="about">
      <div class="container">
        <div class="about_link_"><span>About The Exchange</span></div>
        <div class="inner_">
          <div class="img_wrap">
              <picture>
                <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                <source srcset="assets/images/about-img.jpg" type="image/jpeg">
                <img src="assets/images/about-img.jpg" loading="lazy" alt="">
            </picture>
          </div>
          <div class="text_wrap">
            <h3>Meet the people making an impact in Abu Dhabi & see how your ideas can change our society.</h3>
            <div class="text_box">
              <p>The Exchange by the Authority of Social Contribution Ma’an is a space for everyone.</p>

              <p>In this social innovation platform, you can find <span class="yellow_txt"> inspiration, join a free workshop,</span> and <span class="yellow_txt"> meet like-minded people</span> who are passionate about helping others.</p>

              <p>Here, you can also learn more about Ma’an, and take steps towards growing your own enterprise.</p>
            </div>
            <div class="btn_wrap">
              <a href="#the-exchange" data-href="#the-exchange" class="nav-link scroll" aria-title="">This years themes <span> <img src="{{assets}}/images/arrow-svg.svg" /> </span> </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-section comunity_sec" id="the-exchange">
      {{!-- <div class="about_link_"><span>About The Exchange</span></div> --}}
      <div class="inner_">
        <div class="center_div comn_box">
          <div class="half_ text_">
            <div class="content_">
                <h2>JOIN OUR <br /> COMMUNITY</h2>
                <div class="text_box">
                  <p>Discover the story of Ma’an and social initiatives across Abu Dhabi and exchange your ideas with us</p>
                </div>
              </div>
          </div>
          <div class="half_ img_div">
            <div class="img_wrap">
                <picture>
                    <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                    <source srcset="assets/images/img1.jpg" type="image/jpeg">
                    <img src="assets/images/img1.jpg" loading="lazy" alt="">
                </picture>
              </div>
          </div>
        </div>

        <div class="lf_div comn_box">
          <div class="half_ text_">
            <div class="content_">
                <h2>GET<br />
INSPIRED</h2>
                <div class="text_box">
                  <p>Learn the uplifting stories of the social enterprises working to improve accessibility and inclusion</p>
                </div>
              </div>
          </div>
          <div class="half_ img_div">
            <div class="img_wrap">
                <picture>
                    <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                    <source srcset="assets/images/img2.jpg" type="image/jpeg">
                      <img src="assets/images/img2.jpg" loading="lazy" alt="">
                </picture>
              </div>
          </div>
        </div>

        <div class="rgt_div comn_box">
          <div class="half_ text_">
            <div class="content_">
                <h2>LEARN FROM <br/> OTHERS</h2>
                <div class="text_box">
                  <p>Hear insightful and motivating talks, and ask our specialist speakers for their opinions.</p>
                </div>
              </div>
          </div>
          <div class="half_ img_div">
            <div class="img_wrap">
                <picture>
                    <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                    <source srcset="assets/images/img3.jpg" type="image/jpeg">
                      <img src="assets/images/img3.jpg" loading="lazy" alt="">
                </picture>
              </div>
          </div>
        </div>

        <div class="center_div reverse_ comn_box">
          <div class="half_ text_">
            <div class="content_">
                <h2>MAKE NEW <br/> CONNECTIONS</h2>
                <div class="text_box">
                  <p>Work on your projects and meet your future collaborators.</p>
                </div>
              </div>
          </div>
          <div class="half_ img_div">
            <div class="img_wrap">
                <picture>
                    <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                    <source srcset="assets/images/img4.jpg" type="image/jpeg">
                    <img src="assets/images/img4.jpg" loading="lazy" alt="">
                </picture>
              </div>
          </div>
        </div>

        <div class="center_div comn_box">
          <div class="half_ text_">
            <div class="content_">
                <h2>GET<br/> INVOLVED</h2>
                <div class="text_box">
                  <p>Join collaborative discussions and hands-on workshops where you can share ideas for impact.</p>
                </div>
                {{!-- <a class="cta_link" href="#">CTA link 
                  <span class="svg_arow">
                    <svg viewBox="0 0 36.713 19.129">
                      <defs>
                        <clipPath id="clip-path">
                          <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#e2503f" stroke-linecap="square" stroke-width="1"/>
                        </clipPath>
                      </defs>
                      <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                        <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                          <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#e2503f" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#e2503f" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                        </g>
                      </g>
                    </svg>

                  </span>
                </a> --}}
              </div>
          </div>
          <div class="half_ img_div">
            <div class="img_wrap">
                <picture>
                    <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                    <source srcset="assets/images/img5.jpg" type="image/jpeg">
                    <img src="assets/images/img5.jpg" loading="lazy" alt="">
                </picture>
              </div>
          </div>
        </div>






        
          {{!-- <div class="item_">
            <div class="inn_">
              <div class="lf_">
                <div class="content_">
                  <h2>JOIN OUR <br /> COMMUNITY</h2>
                  <div class="text_box">
                    <p>Discover the story of Ma’an and social initiatives across Abu Dhabi and exchange your ideas with us</p>
                  </div>
                </div>
              </div>
              <div class="rgt_">
                <div class="img_wrap">
                  <picture>
                      <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                      <source srcset="assets/images/img1.jpg" type="image/jpeg">
                      <img src="assets/images/img1.jpg" loading="lazy" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="item_">
            <div class="inn_">
              <div class="lf_">
                <div class="content_">
                  <h2>GET <br /> INSPIRED</h2>
                  <div class="text_box">
                    <p>Discover the story of Ma’an and social initiatives across Abu Dhabi and exchange your ideas with us</p>
                  </div>
                </div>
              </div>
              <div class="rgt_">
                <div class="img_wrap">
                  <picture>
                      <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                      <source srcset="assets/images/img2.jpg" type="image/jpeg">
                      <img src="assets/images/img2.jpg" loading="lazy" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div> --}}
          {{!-- <div class="item_">
            <div class="inn_">
              <div class="lf_">
                <div class="content_">
                  <h2>LEARN FROM <br /> OTHERS</h2>
                  <div class="text_box">
                    <p>Discover the story of Ma’an and social initiatives across Abu Dhabi and exchange your ideas with us</p>
                  </div>
                </div>
              </div>
              <div class="rgt_">
                <div class="img_wrap">
                  <picture>
                      <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                      <source srcset="assets/images/img3.jpg" type="image/jpeg">
                      <img src="assets/images/img3.jpg" loading="lazy" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div> --}}
          {{!-- <div class="item_">
            <div class="inn_">
              <div class="lf_">
                <div class="content_">
                  <h2>MAKE NEW<br /> CONNECTIONS</h2>
                  <div class="text_box">
                    <p>Discover the story of Ma’an and social initiatives across Abu Dhabi and exchange your ideas with us</p>
                  </div>
                </div>
              </div>
              <div class="rgt_">
                <div class="img_wrap">
                  <picture>
                      <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                      <source srcset="assets/images/img4.jpg" type="image/jpeg">
                      <img src="assets/images/img4.jpg" loading="lazy" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div> --}}
          {{!-- <div class="item_">
            <div class="inn_">
              <div class="lf_">
                <div class="content_">
                  <h2>GET<br /> INVOLVED</h2>
                  <div class="text_box">
                    <p>Discover the story of Ma’an and social initiatives across Abu Dhabi and exchange your ideas with us</p>
                  </div>
                </div>
              </div>
              <div class="rgt_">
                <div class="img_wrap">
                  <picture>
                      <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                      <source srcset="assets/images/img5.jpg" type="image/jpeg">
                      <img src="assets/images/img5.jpg" loading="lazy" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div> --}}
        </div>
    </section>


    <section class="home-section inspire_sec">
      <div class="container">
        <div class="inner_">
          <div class="title_">
            <h2> <span><span>TOGETHER </span></span> <br/> <span><span>WE</span></span>   <br/> <span><span>INPIRE</span></span>   <span><span> OUR </span> </span><br/> <span><span>COMMUNITY </span> </span> </h2>
          </div>

          <div class="insp_box_"  id="get-involved">
            <div class="title_field">
              <h3 class="title_">Get Involved</h3>
              <div class="filter_box"> 
                <a href="#" class="filter_">Filter</a>
                <div class="input-field select_box">
                  <select name="subject">
                    <option value="">All</option>
                    <option value="1">Test</option>
                    <option value="1">Test</option>
                  </select>
                </div>
                <a href="#" class="view_all">View All</a>
              </div>
            </div>

            <div class="involed_wraper">
              <div class="box_" style="background: #0038AE;">
                <div class="top_content_">
                  <h3 style="color: #FFD000;">PANELS</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #FFD000;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #FFD000;">
                    Register 
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#FFD000" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#FFD000" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#FFD000" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                    </a>
                </div>
              </div>
              <div class="box_" style="background: #3F1C8E;">
                <div class="top_content_">
                  <h3 style="color: #89D2D1;">WORKSPACE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #89D2D1;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #89D2D1;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#89D2D1" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#89D2D1" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#89D2D1" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #B7ADC6;">
                <div class="top_content_">
                  <h3 style="color: #00834B;">MA’AN TASKFORCE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #00834B;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #00834B;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#00834B" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #E2503F;">
                <div class="top_content_">
                  <h3 style="color: #DEDC2A;">MA’AN ROUNDATABLE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #DEDC2A;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #DEDC2A;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#DEDC2A" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#DEDC2A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#DEDC2A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #74D896;">
                <div class="top_content_">
                  <h3 style="color: #00834B;">IDEAS LAB</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #00834B;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #00834B;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#00834B" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #FF7800;">
                <div class="top_content_">
                  <h3 style="color: #98E0D0;">TALK LOUNGE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #98E0D0;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #98E0D0;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#98E0D0" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#98E0D0" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#98E0D0" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #90BAC9;">
                <div class="top_content_">
                  <h3 style="color: #C6470A;">IMPACT MAKERS INSPIRE SESSION</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #C6470A;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #C6470A;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#C6470A" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#C6470A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#C6470A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              
              <div class="box_ load_more" style="background: #fff;">
                <a href="#" class="btn_">Load More <span class="plus">+</span> </a>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </section>

    <section class="home-section keep_know">
      <div class="kn_img">
        <div class="img_wrap">
          <picture>
            <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
              <source srcset="assets/images/keep-img.jpg" type="image/jpeg">
              <img src="assets/images/keep-img.jpg" loading="lazy" alt="">
            </picture>
          </div>
      </div>
      <div class="container">
        <div class="inner_">
          <div class="lf_"> 
            <h2>KEEP IN THE KNOW</h2>
            <div class="text_box">
              <p>Subscribe to our newsletter to stay updated.</p>
            </div>
            <div class="subscrib_bx">
              <div class="input_filed"> 
                <div class="form-v3">
                  <div class="input_box">
                    <div class="input-field full_">
                      <input id="f_name" type="text" class="">
                      <label for="f_name">Enter email address</label>
                    </div>
                    <button type="submit" class="btn"><img src="{{assets}}/images/arrow-img.svg" /></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>





{{> footer}}
{{> script-home}}

