{{> header}}
{{> loader}}
<div id="viewport">
<main id="scroll-container">

  
  <section class="page-section detail_page_main">
      <div class="container">
          <div class="inner_">
            <div class="lf_">
                <span style="color: #74D896;">IDEAS LAB</span>
                <h1 style="color: #00834B;">SEE THROUGH YOUR CHILD’S EYES
    -HOW TO HANDLE WORRIES </h1>
                    <div class="date_">
                        <strong> 11 February 2020 </strong>
                        2.00 pm - 4.45 pm
                    </div>
                    <div class="text_box">
                        <p>This specialist interactive session invites parents to listen and share ideas on handling their children’s worries as they grow up in a demanding world. </p>

                        <p>Led by children’s author, poet and teacher Liam Kelly, this supportive workshop will help parents identify early signs of anxiety in their children and take steps to help them process it.</p>
                    </div>
            </div>
            <div class="rigt">
                <div class="img_wrap">
                    <picture>
                        <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                        <source srcset="assets/images/inner-img.jpg" type="image/jpeg">
                        <img src="assets/images/inner-img.jpg" loading="lazy" alt="">
                    </picture>
                    <div class="register_box" style="background: #00834B;">
                        <div class="title">
                            <h3>REGISTER</h3>
                            <div class="svg_arrow">
                                <a href="#"  data-fancybox="" data-src="#prgrm_pop">
                                    <svg viewBox="0 0 65 65">
                                        <g class="anim">
                                            <path id="Path_58" data-name="Path 58" d="M70.927.353l8.47,8.47-8.47,8.47" transform="translate(-46.663 -0.233)" fill="none" stroke="#00834b" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/>
                                            <path id="Path_59" data-name="Path 59" d="M0,25.114H32.734" transform="translate(0 -16.522)" fill="none" stroke="#00834b" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="box">
                            <label style="color: #74D896;">SESSION CAPACITY</label>
                            <span>15</span>
                        </div>
                        <div class="box">
                            <label style="color: #74D896;">LANGUAGE</label>
                            <span>English</span>
                        </div>
                        <div class="box">
                            <label style="color: #74D896;">FORMAT</label>
                            <span>Ideas Lab</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="banner_bg" style="background: #74D896;">

      </div>
  </section>

<section class="page-section inspire_sec">
      <div class="container">
        <div class="inner_">
          <div class="insp_box_"  id="get-involved">
            <div class="title_field">
              <h3 class="title_">Our events you may be interested in…</h3>
            </div>

            <div class="involed_wraper">
              <div class="box_" style="background: #0038AE;">
                <div class="top_content_">
                  <h3 style="color: #FFD000;">PANELS</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #FFD000;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" data-fancybox="" data-src="#prgrm_pop" style="color: #FFD000;">
                    Register 
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#FFD000" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#FFD000" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#FFD000" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                    </a>
                </div>
              </div>
              <div class="box_" style="background: #3F1C8E;">
                <div class="top_content_">
                  <h3 style="color: #89D2D1;">WORKSPACE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #89D2D1;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #89D2D1;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#89D2D1" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#89D2D1" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#89D2D1" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #B7ADC6;">
                <div class="top_content_">
                  <h3 style="color: #00834B;">MA’AN TASKFORCE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #00834B;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #00834B;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#00834B" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #E2503F;">
                <div class="top_content_">
                  <h3 style="color: #DEDC2A;">MA’AN ROUNDATABLE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #DEDC2A;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #DEDC2A;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#DEDC2A" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#DEDC2A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#DEDC2A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #74D896;">
                <div class="top_content_">
                  <h3 style="color: #00834B;">IDEAS LAB</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #00834B;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #00834B;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#00834B" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#00834B" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #FF7800;">
                <div class="top_content_">
                  <h3 style="color: #98E0D0;">TALK LOUNGE</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #98E0D0;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #98E0D0;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#98E0D0" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#98E0D0" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#98E0D0" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              <div class="box_" style="background: #90BAC9;">
                <div class="top_content_">
                  <h3 style="color: #C6470A;">IMPACT MAKERS INSPIRE SESSION</h3>
                  <div class="date_">11 February 2020 <span class="date_spn"> 2.00 pm - 4.45 pm</span></div>
                  <h2 style="color: #C6470A;">Question and Answer Session for CEO of Lorem Ipsum - Kholoud Mustafi</h2>
                </div>
                <div class="bx_btm">
                  <a href="#" class="rd_more">Read More</a>
                  <a href="#" class="rgster" style="color: #C6470A;">Register
                    <span class="svg_arow">
                      <svg viewBox="0 0 36.713 19.129">
                        <defs>
                          <clipPath id="clip-path">
                            <rect id="Rectangle_4" data-name="Rectangle 4" width="36.713" height="19.129" fill="none" stroke="#C6470A" stroke-linecap="square" stroke-width="1"/>
                          </clipPath>
                        </defs>
                        <g id="Group_77" data-name="Group 77" transform="translate(0 0)">
                          <g id="Group_54" data-name="Group 54" transform="translate(0 0)" clip-path="url(#clip-path)">
                            <path id="Path_54" data-name="Path 54" d="M70.927.353l9.43,9.43-9.43,9.43" transform="translate(-43.914 -0.219)" fill="none" stroke="#C6470A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                            <path id="Path_55" data-name="Path 55" d="M0,25.114H36.443" transform="translate(0 -15.549)" fill="none" stroke="#C6470A" stroke-linecap="square" stroke-miterlimit="10" stroke-width="1"/>
                          </g>
                        </g>
                      </svg>

                    </span>
                  </a>
                </div>
              </div>
              
              <div class="box_ load_more" style="background: #F5F5F5;">
                <a href="#" class="btn_">Load More <span class="plus">+</span> </a>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </section>




{{> inner-footer}}
{{> script-page}}

