<section class="home-banner" id="home">

    <div class="banner_img">
        <picture>
            <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
            <source srcset="assets/images/banner-img.jpg" type="image/jpeg">
            <img src="assets/images/banner-img.jpg" loading="lazy" alt="">
        </picture>
    </div>
    
    <div class="banner_cap">
        <h1><span>JOIN OUR DRIVE </span> FOR SOCIAL IMPACT</h1>
    </div>
    
</section>