<section class="banner-inner">
    <div class="img" style="background-image:url('{{assets}}/images/banner-about.jpg');"></div>
    <div class="inner container">
        <div class="text_box">
            <p></p>
        </div>
        <div class="banner-title ">
            <h1>Test</h1>
        </div>
    </div>
</section>