<section class="home-banner" id="home" >
    <div class="banner_img">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider_img_">
                        <picture>
                            <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
                            <source srcset="assets/images/banner-img.jpg" type="image/jpeg">
                            <img src="assets/images/banner-img.jpg" loading="lazy" alt="">
                        </picture>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="banner_nav">
            <div class="swiper-button-prev prev_">
                <div class="svg_arrow">
                    <img src="{{assets}}/images/arrow-img.svg">
                </div>
            </div>
            <div class="swiper-button-next next_">
                <div class="svg_arrow">
                    <img src="{{assets}}/images/arrow-img.svg">
                </div>
            </div>
        </div>
    </div>
    
    <div class="banner_cap">
        <h1>
            <span> <span>  JOIN </span> </span>
             <span><span> OUR </span></span>
             <span><span>DRIVE </span></span>
             <span> <span>FOR </span> </span>
             <span><span>SOCIAL </span></span>
             <span><span>IMPACT </span></span> </h1>
    </div>
    

    {{!-- <div class="top-bubble"></div> --}}

</section>