<section class="home-banner" id="home" >

    <div class="banner_img">
        <picture>
            <!-- <source srcset="assets/images/initiative.webp" type="image/webp">-->
            <source srcset="assets/images/banner-img.jpg" type="image/jpeg">
            <img src="assets/images/banner-img.jpg" loading="lazy" alt="">
        </picture>
    </div>
    
    <div class="banner_cap">
        <h1>
            <span> <span>  JOIN </span> </span>
             <span><span> OUR </span></span>
             <span><span>DRIVE </span></span>
             <span> <span>FOR </span> </span>
             <span><span>SOCIAL </span></span>
             <span><span>IMPACT </span></span> </h1>
    </div>
    
</section>