<header id="header">
  <div class="navbar ">
    <div class="barnd_box left_">
      <a class="navbar-brand" href="index.html" title="">
        <img src="{{assets}}/images/logo.svg" alt="">
        {{!-- <img class="logo_color" src="{{assets}}/images/erdc_logo_gold.png" alt=""> --}}
      </a>
    </div>
    <div class="nav_box_wrapper" id="master_menu"> 

      <nav class="navbar-inner">
        <ul class="navbar-nav ">
          {{!-- <li class="nav-item">
            <a href="index.html" class="nav-link " aria-title="">
              <i>Home</i>
              <span>Home</span>
            </a>
          </li> --}}
          <li class="nav-item">
            <a href="about.html" class="nav-link " aria-title="">
              <span>ABOUT</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link " aria-title="">
              <span>THE EXCHANGE</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="members.html" class="nav-link " aria-title="">
              <span>PLAN YOUR VISIT</span>
            </a>
          </li>

           <li class="hdr_btn nav-item">
            <a class="" href="#" title=""><span>GET INVOLVED</span></a>
          </li>
          
          <li class="no_hide">
          <a class="lang_ " href="{{lang_switch}}" title=""><span>En</span></a>
        </li>
        </ul>
      </nav>
    </div>
    <div class="hd_nav_box">
      <ul>
        <li class="no_hide">
          <button class="menu_trigger" data-traget="master_menu">
            <div class="box">
              <span class="dote_ t_"></span>
              <span class="dote_ m_"></span>
              <span class="dote_ b_"></span>
            </div>
            <div class="box p_">
              <span class="dote_ t_"></span>
              <span class="dote_ m_"></span>
              <span class="dote_ b_"></span>
            </div>
          </button>
        </li>
      </ul>
    </div> 
   
  </div>
</header>