<div class="loader">
    <div class="loader-block">
        <div class="loader-img">
            <img src="{{assets}}/images/white-logo.svg" alt="">

        </div>
        <div class="linePreloader"></div>
    </div>
</div>