<div class="loader">
    <div class="in_loader">
        <div class="loader-block">
            <div class="loader-img">
                <img src="{{assets}}/images/logo.svg" alt="">
            </div>
        </div>
    </div>
</div>