.inner__page{
  .footer {
   
    
    .inner_{
      .lf_{
        .social_ {
         
        }
      }
      .rgt_{
        margin-top: 0;
      }
    } 
  }  
}
.footer {
  background: $brand-color;
  padding: 10vh 0 10vh;
  position: relative;
  z-index: 1;
  @media only screen and(max-width:1024px){
    padding: 10vh 0 10vh;
  }
  @media only screen and(max-width:767px){
    padding: 5vh 0;
  }
  .inner_{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and(max-width:767px){
      grid-template-columns: 1fr;
    }
    p{
      font-size: 1vw;
      color: $brand-bg; 
      margin: 0;
      width: 60%;
      font-weight: 500;
      @media only screen and(max-width:768px){
        font-size: 1.4vw;
      }
      @media only screen and(max-width:767px){
        font-size: .9rem;
        width: 100%;
      }
      span{
        font-weight: 700;
      }
    }
    .lf_{
      display: flex;
      flex-direction: column;
      .img_wrap{
        position: relative;
        width: 40%;
        padding-top: 17%;
        img{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .social_{
        margin-top: 6em;
        @media only screen and(max-width:768px){
          margin-top: 2em;
        }
        ul{
          padding: 0;
          margin: 0;
          transform-origin: left;
          @media only screen and(max-width:767px){
            display: flex;
            flex-wrap: wrap;
            grid-gap: 0.8em;
            align-items: center;
            margin-bottom: 1em;
          }
          li{
            transform: translateY(50px);
            opacity: 0;
            transition: all 1s ease;
            list-style: none;
            a{
              color: $brand-bg;
              margin: .5em 0;
              font-size: 1.8vw;
              font-weight: 500;
              @media only screen and(max-width:768px){
                font-size: 2.4vw;
              }
              @media only screen and(max-width:767px){
                font-size: 1.3rem;
              }
              &:hover{
                color: $brand-color-2;
              }
            }
          }
        }
      }
      .copy_write{
        display: flex;
        flex: 1;
        align-items: flex-end;
        transform: translateY(50px);
        opacity: 0;
        transition: all 1s ease;
        list-style: none;
        p{
          border-top: 1px solid rgba(255,255,255,.25);
          width: 80%;
          padding-top: 1em;
        }
      }
    }
    .rgt_{
      margin-top: 30%;
      @media only screen and(max-width:1024px){
        margin-top: 10%;
      }
      .box_{
        margin-bottom: 2em;
        transform: translateY(50px);
        opacity: 0;
        transition: all 1s ease;
        list-style: none;
        &:first-child{
          margin-top: 2em;
        }
        .subscrib_bx{
          width: 60%;
          margin-top: 0;
          @media only screen and(max-width:768px){
            width: 90%;
          }
          @media only screen and(max-width:767px){
            width: 100%;
            margin-top: 2em;
          }
          .input_filed{
            margin: 1em 0 3em;  
            .form-v3{
              .input_box{
                display: flex;
                justify-content: space-between;
                border-bottom:1px solid #fff ;
                .input-field{
                  flex: 1;
                  >label{
                    color: rgba(255,255,255,.5)
                  }
                  input{
                    border-bottom: none !important;
                    margin: 0;
                  }
                }
                .btn{
                  img{
                    transition: all .3s ease;
                  }
                  &:hover{
                    img{
                      transform: translateX(.5em);
                    }
                  }
                }
              }
            }
          }
          .btn{
            border: none;
            background: transparent;
          }
        }
        h3{
          font-size: 1.8vw;
          font-weight: 500;
          color: $color-white;
          line-height: 1;
          margin: 0 0 .5em;
          @media only screen and(max-width:767px){
            font-size: 1.4rem;
          }
        }
        .btn_wrap{
          a{
            margin-top: 0;
            span{
              img{
                
              }
            }
            
          }
        }
      }
    }
  }
  &.inView{
    .inner_{
      .lf_ .social_ ul li{
        transform: none;
        opacity: 1;
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i * .2s + .4s};
          }
        }
      }
      .lf_ .copy_write{
        transform: none;
        opacity: 1;
        transition-delay: 1s;
      }
      .rgt_ .box_{
        transform: none;
        opacity: 1;
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            transition-delay: #{$i * .2s + .4s};
          }
        }
      }
    } 
  }
}

.rtl .btn_wrap a span{
  transform: scaleX(-1);
}
.rtl .footer .inner_ .rgt_ .box_ .subscrib_bx .btn{
  transform: scaleX(-1);
}