footer {
  color: $color-black;
  overflow: hidden;
  z-index: 99;
  position: relative;
  padding: 1rem 0 1.5rem;
  @media screen and (max-width: 767px) {
    padding: 1rem 0;
  }
  p {
    margin: 0;
    font-weight: 400;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .social_wrap_box {
    z-index: 10;
    display: none;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      @media screen and (max-width: 767px) {
        justify-content: center;
      }
      li {
        margin-inline-end: 0.5rem;
        &:last-child {
          margin-inline-end: 0;
        }
      }
    }
    a {
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($brand-color, 0.3);
        transform: scale(0);
        border-radius: 50%;
        z-index: -1;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        transform: scale(1.1);
        &::before {
          transform: scale(1);
        }
      }
      svg {
        width: 17px;
        height: auto;
        max-height: 17px;
      }
    }
  }

  .inner {
    // max-width: 40%;
    @media only screen and (max-width: 1024px) {
      // max-width: 60%;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
      margin-top: 0.5rem;
      text-align: center;
    }
    p {
      font-size: 0.85rem;
    }

    .nave_link_box {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      li {
        .link_ {
          padding: 0 1em;
          color: #000;
          font-weight: 400;
          font-size: 0.9rem;

          &:hover {
            color: $brand-color;
          }
        }
      }
    }
  }
}
