main{
    margin-top: var(--top_off);
    overflow: hidden;
}
.page-section{
    padding: 10vh 0;
    position: relative;
    @media only screen and(max-width:768px){
        padding: 5vh 0;
    }
}
.text_box p{
    font-size: 1.1vw;
    @media only screen and(max-width:768px){
        font-size: 14px;
    }
}
.detail_page_main{
    padding-top: 0;
    .inner_{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 88%;
        margin: 0 auto;
        grid-gap: 2em;
        @media only screen and(max-width:767px){
            width: 100%;
            grid-template-columns: 1fr;
        }
        .lf_{
            padding-top: 4em;
            span{
                font-size: 1.8vw;
                font-weight: 900;
                opacity: 0;
                transform: translateY(50px);
                transition: all .8s ease;
                display: block;
                @media only screen and(max-width:767px){
                    font-size: 1.3rem;
                }
            }
            h1{
                font-size: 3.6vw;
                line-height: 1;
                font-weight: 900;
                width: 86%;
                opacity: 0;
                transform: translateY(50px);
                transition: all .8s ease;
                @media only screen and(max-width:767px){
                    font-size: 2rem;
                    margin-bottom: .2em;
                }
            }
            .date_{
                font-size: 1.3vw;
                font-style: italic;
                font-weight: 300;
                color: $color-white;
                line-height: 1;
                margin-bottom: 1em;
                opacity: 0;
                transform: translateY(50px);
                transition: all .8s ease;
                @media only screen and(max-width:767px){
                    font-size: 1rem;
                }
                strong{
                    display: block;
                    font-size: 1.6vw;
                    font-weight: 500;
                    @media only screen and(max-width:767px){
                        font-size: 1rem;
                    }
                }
            }
            .text_box{
                opacity: 0;
                transform: translateY(50px);
                transition: all .8s ease;
            }
        }
        .rigt{
            .img_wrap{ 
                position: absolute;
                right: 0;
                width: 48%;
                opacity: 0;
                transform: translateY(50px);
                transition: all .8s ease;
                @media only screen and(max-width:767px){
                    position: static;
                    width: 100%;
                }
                .register_box{
                    position: absolute;
                    top: 90%;
                    z-index: 1;
                    width: 40%;
                    padding: 2em;
                    left: 8%;
                    opacity: 0;
                    transform: translateY(100px);
                    transition: all .8s ease;
                    @media only screen and(max-width:767px){
                        position: relative;
                        width: 80%;
                        margin: 0 auto;
                        margin-top: -2em;
                        left: 0;
                    }
                    .title{
                        display: flex;
                        margin-bottom: .5em;
                        align-items: center;
                        h3{
                            flex: 1;
                            font-size: 1.6vw;
                            font-weight: 600;
                            color: $color-white;
                            @media only screen and(max-width:767px){
                                font-size: 1.4rem;
                            }
                        }
                        .svg_arrow{
                            width: 20%;
                            a{
                                background: #fff;
                                display: block;
                                border-radius: 50%;
                                width: 3vw;
                                height: 3vw;
                                @media only screen and(max-width:767px){
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                            svg{
                                width: 100%;
                                height: 100%;
                                transition: all .3s ease;
                                .anim{
                                    transition: all .3s ease;
                                    transform: translate(25%, 35%);
                                }
                            }
                            &:hover{
                                svg{
                                    .anim{
                                        transform: translate(35%, 35%);
                                    }
                                }
                            }
                        }
                    }
                    .box{
                        font-size: 1vw;
                        font-weight: 400;
                        color: $color-white;
                        margin-bottom: 1.5em;
                        @media only screen and(max-width:767px){
                            font-size: 1.1rem;
                        }
                        label,span{
                            display: block;
                        }
                        label{
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    .banner_bg{
        position: absolute;
        bottom: 0;
        width: 0;
        height: 60%;
        left: 0;
        z-index: -1;
        transition: all 1s ease;
        @media only screen and(max-width:767px){
            height: 50%;
        }
    }
    &.inView{
        .inner_{
            .lf_{
                span,h1,.date_,.text_box{
                    transform: none;
                    opacity: 1;
                    transition-delay: .8s;
                }
                h1{
                    transition-delay: 1s;
                }
                .date_{
                    transition-delay: 1.2s;
                }
                .text_box{
                    transition-delay: 1.4s;
                }
            } 
            .rigt{
                .img_wrap{
                    transform: none;
                    opacity: 1;
                    transition-delay: 1s;
                }
                .register_box{
                    opacity: 1;
                    transform: none;
                    transition-delay: 1.2s;
                }
            } 
        } 
        .banner_bg{
            width: 100%;
            transition-delay: .6s;
        }
    }
}

.inspire_sec{
    overflow: visible;
    .inner_{
      .title_{
        h2{
          font-size: 15vh;
          color: $color-white;
          line-height: 1;
          margin: 0;
          margin: -60% auto 0;
          width: 66%;
          
          @media only screen and(max-width:1024px){
            font-size: 10vh;
          }
          @media only screen and(max-width:768px){
            margin: -45% auto 0;
            font-size: 8vh;
          }
          @media only screen and(max-width:767px){
            width: 100%;
            font-size: 4rem;
            margin: -40% auto 0;
          }
          span{
            display: inline-block;
            position: relative;
            // overflow: hidden;
            @for $i from 1 through 3 {
              &:nth-of-type(#{$i}) {
                span{
                  color: $bg_green;
                }
              }
            }
            >span{
              display: inline-block;
              opacity: 0;
              transform-origin: left bottom;
              transform-style: preserve-3d;
              transform: translateY(100%) skew(-20deg) rotateX(-80deg); 
              transition: opacity .5s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1); 
            }
          }
          // span{
          //   color: $color-white;
          // }
        }
      }
      .insp_box_{
        .title_field{
            margin: 0 0 4em;
            display: flex;
            justify-content: space-between;
            position: relative;
            transition: all 1.5s ease;
            transform: translateY(2em);
            opacity: 0;
            @media only screen and(max-width:767px){
              flex-wrap: wrap;
            }
            &:after{
              position: absolute;
              content: "";
              left: 0;
              bottom: -2em;
              width: 100%;
              height: 1px;
              background: $color-black;
              z-index: -1;
            }
            .title_{
              font-weight: 500;
              font-size: 1.4vw;
              color: $color-black;
              display: block;
              z-index: 1;
              padding-inline-start: 10%;
              margin: 0;
              @media only screen and(max-width:768px){
                font-size: 2.6vw;
              }
              @media only screen and(max-width:767px){
                font-size: 1.5rem;
                padding-inline-start: 0;
                margin-bottom: .5em;
              }
            }
            .filter_box{
              //  padding-inline-end: 10%;
                display: flex;
                align-items: center;
                .filter_{
                  color: $color-black;
                  font-size: 1vw;
                  border: 1px solid $color-black;
                  font-weight: 500;
                  padding:4px 1.5em;
                  border-right: none;
                  @media only screen and(max-width:768px){
                    font-size: 1.4vw;
                  }
                  @media only screen and(max-width:767px){
                    font-size: 1rem;
                  }
                }
                .select_box{
                  .selectric{
                    background: $color-white;
                    padding: 4px 1.5em;
                    border: 1px solid $color-black;
                    .label{
                      color: $brand-bg;
                      font-size: 1vw;
                      height: auto;
                      @media only screen and(max-width:768px){
                        font-size: 1.4vw;
                      }
                      @media only screen and(max-width:767px){
                        font-size: 1rem;
                      }
                    }
                    .button{
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      height: 100%;
                      //position: relative;
                      &:after{
                        content: "";
                        display: inline-block;
                        height: 8px;
                        right: 0;
                        position: relative;
                        top: 0;
                        width: 8px;
                        border-left-color: $brand-bg;
                        border-bottom: 1px solid $brand-bg;
                        border-right: 1px solid $brand-bg;
                        border-top-color: $brand-bg;
                        background: transparent;
                        -webkit-transform: rotate(45deg) translateY(-50%);
                        -ms-transform: rotate(45deg) translateY(-50%);
                        transform: rotate(45deg) translateY(-50%);
                      }
                    }
                  }
                }
                .view_all{
                  color: $brand-color;
                  margin-inline-start: 2em;
                  font-weight: 500;
                  font-size: 1vw;
                  text-decoration: underline;
                  @media only screen and(max-width:768px){
                    font-size: 1.4vw;
                  }
                  @media only screen and(max-width:767px){
                    font-size: 1rem;
                  }
                }
            }
          }
        .involed_wraper{
          display: grid;
          grid-gap: 1em;
          grid-template-columns: repeat(4,1fr);
          @media only screen and(max-width:1024px){
            grid-template-columns: repeat(3,1fr);
          }
          @media only screen and(max-width:767px){
            grid-template-columns: 1fr;
          }
          .box_{
            padding: 2em;
            display: flex;
            flex-direction: column;
            transform: translateY(2em);
            transition: all .5s ease;
            opacity: 0;
            position: relative;
            > *{
              transition: all .3s ease;
            }
              // &:after{
              //   position: absolute;
              //   left: 0;
              //   top: 0;
              //   width: 100%;
              //   height: 100%;
              //   content: "";
              //   box-shadow: 0 40px 120px -20px rgba(116, 116, 116, 0.6);
              //   opacity: 0;
              //   transition: all .3s ease;
              //   z-index: -1;
              // }
            &:hover{
              // &:after{
              //   opacity: 1;
              // }
              > * {
                transform: translateX(10px);
              }
            }
            .top_content_{
              display: flex;
              flex-direction: column;
              flex: 1;
              h3{
                margin: 0 0 1em;
                padding: 0 0 .2em;
                font-size: 1.4vw;
                font-weight: 900;
                border-bottom: 1px solid $color-white;
                line-height: 1;
                @media only screen and(max-width:767px){
                  font-size: 1.2rem;
                }
              }
              .date_{
                font-size: .9vw;
                font-weight: 500;
                color: $color-white;
                @media only screen and(max-width:1024px){
                  font-size: 1vw;
                }
                @media only screen and(max-width:767px){
                  font-size: .9rem;
                }
                .date_spn{
                  display: block;
                  font-size: .7vw;
                  font-weight: 300;
                  font-style: italic;
                  @media only screen and(max-width:1024px){
                    font-size: .9vw;
                  }
                  @media only screen and(max-width:767px){
                    font-size: .8rem;
                  }
                }
              }
              h2{
                line-height: 1.2;
                font-weight: 900;
              }
            }
            .bx_btm{
              display: flex;
              justify-content: space-between;
              a.rd_more{
                color: $color-white;
                font-size: .7vw;
                font-weight: 500;
                text-decoration: underline;
                transition: all .3s ease;
                transform: scale(1.01);
                @media only screen and(max-width:1024px){
                  font-size: 1vw;
                }
                @media only screen and(max-width:767px){
                  font-size: .8rem;
                }
                &:hover{
                  transform: scale(1.03);
                }
              }
              .rgster{
                font-size: .7vw;
                font-weight: 500;
                display: flex;
                @media only screen and(max-width:1024px){
                  font-size: 1vw;
                }
                @media only screen and(max-width:767px){
                  font-size: .8rem;
                }
                span{
                  width: 2em;
                  margin-inline-start: 1em;
                  svg{
                    width: 100%;
                    height: 100%;
                    transition: all .3s ease;
                  }
                }
                &:hover{
                  span{
                    svg{
                      transform: translateX(.5em);
                    }
                  }
                }
              }
            }
            &.load_more{
              display: flex;
              justify-content: center;
              align-items: center;
              
              @media only screen and(max-width:767px){
                min-height: 270px;
              }
              .btn_{
                font-size: 1.4vw;
                font-weight: 500;
                color: $color-black;
                display: block;
                text-align: center;
                @media only screen and(max-width:767px){
                  font-size: 1.6rem;
                }
                .plus{
                  color: #E2503F;
                  display: block;
                }
              }
            }
            &:hover{
  
            }
          }
        }
      }
      
    }
    &.inView{
        &.inView{
            
            .insp_box_{
              padding-top: 1em;
              .title_field{
                transform: none;
                opacity: 1;
                transition-delay: .4s;
              }
              .involed_wraper{
                .box_{
                  opacity: 1;
                  transform: none;
                  @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                      transition-delay: #{$i * .3s + 1s};
                    }
                  }
                }
              } 
            } 
          }
    }
  }