@charset "UTF-8";
@import "variables";

html[dir="rtl"] body {
  text-align: right;
  * {
    letter-spacing: 0;
  }
}

.bottom_svg {
  right: calc(35vw - 2px);
  left: auto;
  @media only screen and (max-width: 980px) {
    right: calc(50vw - 2px);
  }
}
.home-banner .social_wrap {
  left: 1rem;
  right: auto;
}
.banner_text h1 {
  font-size: clamp(3.5rem, 8vw, 7rem);
  @media only screen and (max-width: 980px) {
    font-size: clamp(2.5rem, 15vw, 7rem);
  }
  div {
    transform: translateX(-8rem);
  }
}
.about_wrap {
  .bg_svg {
    right: 0;
    left: auto;
  }
  .img_2 {
    right: 0;
    left: auto;
    &::before {
      left: -1rem;
      right: auto;
    }
  }
}
.ob_item {
  border-left: 2px dashed $brand-color;
  border-right: none;
  &.swiper-slide-next ~ .ob_item {
    border-left: none;
  }
  @media only screen and (max-width: 980px) {
    &.swiper-slide-next {
      border-left: none;
    }
  }
  @media only screen and (max-width: 767px) {
    border: none;
  }
  .number_ {
    right: 0;
    left: auto;
  }
}
.title_tool_wrap .link_ {
  font-size: clamp(1rem, 1.4vw, 1.2rem);
  @media only screen and (max-width: 1024px) {
    font-size: clamp(0.95rem, 6vw, 1.25rem);
  }
}
@media only screen and (min-width: 1025px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) and (min-height: 500px) and (max-height: 650px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 980px) and (min-width: 768px) {
}

@media only screen and (max-width: 767px) {
}
