@charset "UTF-8";
@import "variables";

html[dir="rtl"] body {
  text-align: right;
  * {
    letter-spacing: 0;
  }
  .detail_page_main .inner_ .rigt .img_wrap{
    right: auto;
    left: 0;
  }
  .inspire_sec .inner_ .insp_box_ .title_field .filter_box .filter_{
    border-right: 1px solid #000;
    border-left: none;
  }
  .detail_page_main .inner_ .rigt .img_wrap .register_box{
    left: auto;
    right: 8%;
  }
  .detail_page_main .inner_ .rigt .img_wrap .register_box .title .svg_arrow{
    transform: scaleX(-1);
  }
  .inspire_sec .inner_ .insp_box_ .involed_wraper .box_ .bx_btm .rgster span{
    transform: scaleX(-1);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) and (min-height: 500px) and (max-height: 650px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 980px) and (min-width: 768px) {
}

@media only screen and (max-width: 767px) {
}
